absl-py
aiohappyeyeballs
aiohttp
aioredis
aiosignal
alpha_vantage
altair
annotated-types
anthropic
anyio
AnyQt
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
async-timeout
attrs
babel
backoff
backrefs
baycomp
bcrypt
beautifulsoup4
black
bleach
blinker
Bottleneck
build
cachetools
catboost
cattrs
certifi
cffi
cfgv
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
comm
commonmark
contourpy
coverage
cycler
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
dictdiffer
distlib
distro
docstring_parser
docutils
duckduckgo_search
durationpy
ecdsa
et-xmlfile
executing
faiss-cpu
fastapi
fastjsonschema
filelock
flake8
Flask
flatbuffers
fonttools
fqdn
frozendict
frozenlist
fsspec
gast
ghp-import
gitdb
GitPython
google-auth
google-pasta
googleapis-common-protos
graphviz
greenlet
griffe
groq
grpcio
h11
h2
h5py
hpack
html5lib
httpcore
httptools
httpx
huggingface-hub
humanfriendly
hyperframe
identify
idna
importlib_metadata
importlib_resources
iniconfig
instructor
ipykernel
ipython
ipywidgets
isoduration
isort
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
keybert
keyring
keyrings.alt
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langsmith
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mccabe
mdurl
mergedeep
mistune
mkdocs
mkdocs-autorefs
mkdocs-get-deps
mkdocs-material
mkdocs-material-extensions
mkdocstrings
mkdocstrings-python
ml-dtypes
mmh3
monotonic
more-itertools
mplfinance
mpmath
multidict
multitasking
mypy
mypy-extensions
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nodeenv
notebook
notebook_shim
numpy
oauthlib
onnxruntime
openai
opencv-python
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
openTSNE
opt_einsum
optree
orange-canvas-core
orange-widget-base
Orange3
orjson
outcome
overrides
packaging
paginate
pandas
pandocfilters
parso
passlib
pathspec
peewee
pillow
platformdirs
playwright
plotly
pluggy
portalocker
posthog
pre_commit
primp
prometheus_client
prompt_toolkit
protobuf
psutil
pure_eval
py4j
pyarrow
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pyee
pyflakes
Pygments
pymdown-extensions
pyparsing
PyPika
pyproject_hooks
pyqtgraph
pyreadline3
PySocks
pyspark
pytest
pytest-asyncio
pytest-cov
pytest-mock
python-dateutil
python-dotenv
python-jose
python-json-logger
python-louvain
python-multipart
pytz
PyWavelets
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyyaml_env_tag
pyzmq
qasync
qdrant-client
qtconsole
QtPy
ratelimit
referencing
regex
requests
requests-cache
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scikit-learn
scikit-surprise
scipy
selenium
Send2Trash
sentence-transformers
serverfiles
setuptools
shellingham
six
sklearn-extensions
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
structlog
swarm @ git+https://github.com/openai/swarm.git@0c82d7d868bb8e2d380dfd2a319b5c3a1f4c0cb9
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
terminado
threadpoolctl
tinycss2
tk
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typer
types-python-dateutil
typing-inspect
typing_extensions
tzdata
uri-template
url-normalize
urllib3
uvicorn
virtualenv
watchdog
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wrapt
wsproto
xgboost
xlrd
XlsxWriter
yarl
yfinance
zipp
